<h1>投稿</h1>

<div class="post-form">  
    <%= form_tag("/posts/create") do %>
        <div class="post-content">
            <textarea name="content"><%= @post %></textarea>
            <input type="submit" value="投稿" class="post-btn">
        </div>
    <% end %>
</div>