// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home_top{
    h2{
        font-size: 100px;
        text-align: center;
    }
    .home-btn{
        display: flex;
        width: 500px;
        margin: 0 0 0 auto;
    }
    .btn{
        padding: 30px;
        margin: 10px;
        background-color: gray;
    }
    .btn a{
        display: block;
    }

}

.home_profile{
    .profile-img{
        text-align:center;    }
    h2{
        background-color: gray;
    }
}