// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile-img{
    height: 200px;
    width: 200px;
}
.profile-img img{
    height: 200px;
    width: 200px;
    object-fit: fill;
}